body {
    background-color: #F8F8F8;
}
/*Navigation Bar*/
.navigation {
    vertical-align: top;
    background-color: #323C3F;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bamLogo {
    width: auto;
    height: 60px;
    margin-left: 142px;
}
nav {
    padding: 1%;
}
ul {
    margin-right: 142px;
}
li {
    display: inline;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    font-size: 18px;
}
/*End Navigation Bar*/
/*Hero*/
.heroPurple {
    width: 862px;
    background-color: #A48596;
    height: 462px;
    z-index: 0;
    position: absolute;
    left: 142px
}
.heroImage {
    position: absolute;
    z-index: 1;
    right: 142px;
    top: 180px;
}
.heroContent {
    positon: absolute;
    z-index: 2;
    left: 170px;
}
/*End Hero*/
/*Footer*/
footer {
    vertical-align: bottom;
    background-color: #323C3F;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    margin-left: 142px;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.social {
    color: #F8F8F8;
    margin-right: 142px;
    max-width: 100%;
}
.email {
    height: 26px;
    padding-right: 10px;
}
.linkedin {
    height: 26px;
}
/*End Footer*/