body {
    background-color: #F8F8F8;
}
/*Navigation Bar*/
.navigation {
    vertical-align: top;
    background-color: #323C3F;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bamLogo {
    width: auto;
    height: 60px;
    margin-left: 100px;
}
nav {
    padding: 1%;
}
ul {
    margin-right: 70px;
}
li {
    display: inline;
    color: #F8F8F8;
    font-family: 'Alatsi', sans-serif;
    margin-right: 20px;
    font-size: 18px;
}
/*End Navigation Bar*/
/*Hero*/
.hero {
    position: relative;
}
.heroPurple {
    width: 862px;
    background-color: #A48596;
    height: 462px;
    z-index: 0;
    left: 142px;
    top: 50px;
    position: relative;
    margin-bottom: 125px;
}
.heroImage {
    position: absolute;
    z-index: 1;
    left: 727px;
    top: 85px;
}
.heroContent {
    position: absolute;
    z-index: 2;
    left: 170px;
}
h1 {
    width: 448px;
    left: 161px;
    font-family: 'Alatsi', sans-serif;
    color:#F8F8F8;
}
.heroContent{
    color:#F8F8F8;
    width: 802px;
    top: 206px;
    left: 161px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
/*End Hero*/
/*Footer*/
footer {
    vertical-align: bottom;
    background-color: #323C3F;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    margin-left: 142px;
    color: #F8F8F8;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
}
.social {
    color: #F8F8F8;
    margin-right: 100px;
    max-width: 100%;
}
.email {
    height: 26px;
    padding-right: 10px;
}
.linkedin {
    height: 26px;
}
/*End Footer*/