/*Navigation Bar*/
.navigation {
    vertical-align: top;
    background-color: #323C3F;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bamLogo {
    width: auto;
    height: 60px;
}
nav {
    padding: 1%;
}
ul {
    margin-left: auto;
}
li {
    display: inline;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    font-size: 18px;
}
/*Footer*/
footer {
    vertical-align: bottom;
    background-color: #323C3F;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    margin-left: 20px;
    color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.social {
    color: #F8F8F8;
    height: 900px;
}